<!--Container Zona 1-->
<h3>Zona 1</h3>
<div class="main-container">
  <div class="card-container" *ngFor="let items of itemList">
    <div class="card card-1" *ngIf="items.areaId == 1791 && items.id == 2861">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div [ngStyle]="{'background-color':items.status === 'closed' ? 'red' : 'orange' }" class="rectangle"></div>
    </div>

    <div class="card card-1" *ngIf="items.areaId == 1791 && items.joinedWith == 2861">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div class="card-2"></div>
    </div>
  </div>

  <div class="card-container" *ngFor="let items of  itemList">
    <div class="card card-1" *ngIf="items.areaId == 1791 && items.id == 2971 ">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div [ngStyle]="{'background-color':items.status === 'closed' ? 'red' : 'yellow' }" class="rectangle"></div>
    </div>

    <div  class="card card-1" *ngIf="items.areaId == 1791 && items.joinedWith == 2971">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div class="card-2"></div>
    </div >
  </div >

  <div class="card-container" *ngFor="let items of  itemList">
    <div class="card card-1" *ngIf="items.areaId == 1791 && items.id == 2973 ">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div [ngStyle]="{'background-color':items.status === 'closed' ? 'red' : 'yellow' }" class="rectangle"></div>
    </div>

    <div class="card card-1" *ngIf="items.areaId == 1791 && items.joinedWith == 2973">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div class="card-2"></div>
    </div>
  </div>

  <div class="card-container" *ngFor="let items of itemList.reverse()">
    <div class="card card-1" *ngIf="items.areaId == 1791 && items.id == 2974 ">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div [ngStyle]="{'background-color':items.status === 'closed' ? 'red' : 'yellow' }" class="rectangle" ></div>
    </div>

    <div class="card card-1" *ngIf="items.areaId == 1791 && items.joinedWith == 2974">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div class="card-2"></div>
    </div>
  </div>

  <div class="card-container" *ngFor="let items of itemList">
    <div class="card card-1" *ngIf="items.areaId == 1791 && items.id == 2970 ">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div [ngStyle]="{'background-color':items.status === 'closed' ? 'red' : 'yellow' }" class="rectangle"></div>
    </div>
  </div>

  <div class="card-container" *ngFor="let items of itemList">
    <div class="card card-1" *ngIf="items.areaId == 1791 && items.id == 2979 ">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div [ngStyle]="{'background-color':items.status === 'closed' ? 'red' : 'yellow' }" class="rectangle"></div>
    </div>
  </div>

  <div class="card-container" *ngFor="let items of itemList">
    <div class="card card-1" *ngIf="items.areaId == 1791 && items.id == 2980 ">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div [ngStyle]="{'background-color':items.status === 'closed' ? 'red' : 'yellow' }" class="rectangle"></div>
    </div>
  </div>
</div>
<!--End Container Zona 1-->

<!--Container Zona 2-->
  <h3>Zona 2</h3>
<div class="main-container">
  <div class="card-container" *ngFor="let items of itemList">
    <div class="card card-1" *ngIf="items.areaId == 1892 && items.id == 2966">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div [ngStyle]="{'background-color':items.status === 'closed' ? 'red' : 'yellow' }" class="rectangle"></div>
    </div>

    <div class="card card-1" *ngIf="items.areaId == 1892 && items.joinedWith == 2966">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div class="card-2"></div>
    </div>
  </div>
</div>
<!--End Container Zona 2-->
<!--Container Zona 4-->
<h3>Zona 4</h3>
<div class="main-container">
<div class="card-container" *ngFor="let items of itemList.reverse()">
  <div class="card card-1" *ngIf="items.areaId == 1900 && items.id == 3003 ">
    <h4>{{items.sku}}</h4>
    <h5>{{items.defaultSku}}</h5>
    <div [ngStyle]="{'background-color':items.status === 'closed' ? 'red' : 'yellow' }" class="rectangle" ></div>
  </div>
  <div class="card card-1" *ngIf="items.areaId == 1900 && items.joinedWith == 3003">
    <h4>{{items.sku}}</h4>
    <h5>{{items.defaultSku}}</h5>
    <div class="card-2"></div>
  </div>
</div>

<div class="card-container" *ngFor="let items of itemList">
  <div class="card card-1" *ngIf="items.areaId == 1900 && items.joinedWith == 3011">
    <h4>{{items.sku}}</h4>
    <h5>{{items.defaultSku}}</h5>
    <div class="card-2"></div>
  </div>
</div>
</div>
<!--End Container Zona 4-->
<!--Container Zona 5-->
<h3>Zona 5</h3>
<div class="main-container">
  <div class="card-container" *ngFor="let items of itemList.reverse()">
    <div class="card card-1" *ngIf="items.areaId == 1901 && items.id == 3013 ">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div [ngStyle]="{'background-color':items.status === 'closed' ? 'red' : 'yellow' }" class="rectangle" ></div>
    </div>
    <div class="card card-1" *ngIf="items.areaId == 1901 && items.joinedWith == 3013">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div class="card-2"></div>
    </div>
  </div>

  <div class="card-container" *ngFor="let items of itemList">
    <div class="card card-1" *ngIf="items.areaId == 1901 && items.joinedWith == 3014">
      <h4>{{items.sku}}</h4>
      <h5>{{items.defaultSku}}</h5>
      <div class="card-2"></div>
    </div>
  </div>
</div>
<!--End Container Zona 5-->
